html{
    font-size: 20px;
}

body{
    font-family:"Arial","Meiryo",sans-serif;
    text-align: center;
}

h1{
    letter-spacing: 1.2em;
    font-family: "Josefin Sans",sans-serif;
    font-size: 2rem;
    border-bottom: solid 3px rgb(115, 115, 114) ;
    text-shadow: 1px 1px 1px blue;
}
.pink{
      color: rgb(255, 192, 203) ;
}

.blue{
    color: skyblue;
}

#basic p {
    font-weight: bold;
}

